<nav class="navbar">
  <div class="nav-container">
    <a [routerLink]="['/']" class="navbar-brand">
      Product Catalog
    </a>

    <div class="nav-links">
      
      <a [routerLink]="['/cart']" class="nav-cart">
        Cart 
        <span class="cart-badge">
          {{ cart().itemCount }}
        </span>
      </a>

      <ng-container *ngIf="!authService.isAuthenticated()">
        <a [routerLink]="['/login']" class="nav-link">Login</a>
        <a [routerLink]="['/register']" class="nav-link button-register">Register</a>
      </ng-container>

      <ng-container *ngIf="authService.isAuthenticated()">
        <span class="nav-welcome">
          Hi, {{ authService.currentUser()?.name }}
        </span>
        
        <a (click)="logout()" class="nav-link logout-button">Logout</a>
      </ng-container>

    </div>
  </div>
</nav>

<main class="content-area">
  <router-outlet></router-outlet>
</main>